* {
  @apply box-border p-0 m-0 border-border;
}
body,
html,
#app {
  @apply bg-background text-foreground overscroll-none w-screen h-screen;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

* :disabled {
  @apply cursor-not-allowed;
}

[aria-busy]:not([aria-busy='false']) {
  @apply cursor-wait;
}
